.-space-x-5 {
    margin-left: -1.25rem;
}

.-space-y-4 {
    margin-top: -1rem;
}

.space-y-\[23\%\] {
    margin-top: 23%;
}

.decoration-indigo-700 {
    text-decoration-color: 4338ca;
}

.underline-offset-1 {
    text-underline-offset: 1px;
}

.list-disc {
    list-style-type: disc;
}

.text-stone-700 {
    color: 44403c;
}
