.w-full {
    width: 100%;
}

.min-h-full {
    min-height: 100%;
}

.m-0 {
    margin: 0px;
}

.p-0 {
    padding: 0px;
}

.pt-10 {
    padding-top: 2.5rem;
}

.rounded-md {
    border-radius: 0.375rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.italic {
    font-style: italic;
}

.leading-5 {
    line-height: 1.25rem;
}

.break-words {
    overflow-wrap: break-word;
}

.p-0 {
    padding: 0px;
}

.pl-10 {
    padding-left: 2.5rem;
}

.mt-12 {
    margin-top: 3rem;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.p-0 {
    padding: 0px;
}

.flex {
    display: flex;
}

.font-bold {
    font-weight: 700;
}

.relative {
    position: relative;
}

.pr-2 {
    padding-right: 0.5rem;
}

.m-0 {
    margin: 0px;
}

.hidden {
    display: none;
}

.absolute {
    position: absolute;
}

.pl-0 {
    padding-left: 0px;
}

.m-0 {
    margin: 0px;
}

.p-4 {
    padding: 1rem;
}

.table {
    display: table;
}
