{
	"0": "0px",
	"px": "1px",
	"0.5": "0.125rem",
	"1": "0.25rem",
    "1.5": "0.375rem",
    "2": "0.5rem",
    "2.5": "0.625rem",
    "3": "0.75rem",
    "3.5": "0.875rem",
    "4": "1.rem",
    "5": "1.25rem",
    "6": "1.5rem",
    "7": "1.75rem",
    "8": "2.rem",
    "9": "2.25rem",
    "10": "2.5rem",
    "11": "2.75rem",
    "12": "3.rem",
    "14": "3.5rem",
    "16": "4.rem",
    "20": "5.rem",
    "24": "6.rem",
    "28": "7.rem",
    "32": "8.rem",
    "36": "9.rem",
    "40": "10.rem",
    "44": "11.rem",
    "48": "12.rem",
    "52": "13.rem",
    "56": "14.rem",
    "60": "15.rem",
    "64": "16.rem",
    "72": "18.rem",
    "80": "20.rem",
    "96": "24.rem",
}