{
    "--tw-prose-body": "gray-700",
    "--tw-prose-headings": "gray-900",
    "--tw-prose-lead": "gray-600",
    "--tw-prose-links": "gray-900",
    "--tw-prose-bold": "gray-900",
    "--tw-prose-counters": "gray-500",
    "--tw-prose-bullets": "gray-300",
    "--tw-prose-hr": "gray-200",
    "--tw-prose-quotes": "gray-900",
    "--tw-prose-quote-borders": "gray-200",
    "--tw-prose-captions": "gray-500",
    "--tw-prose-code": "gray-900",
    "--tw-prose-pre-code": "gray-200",
    "--tw-prose-pre-bg": "gray-800",
    "--tw-prose-th-borders": "gray-300",
    "--tw-prose-td-borders": "gray-200",
    "--tw-prose-invert-body": "gray-300",
    "--tw-prose-invert-headings": "white",
    "--tw-prose-invert-lead": "gray-400",
    "--tw-prose-invert-links": "white",
    "--tw-prose-invert-bold": "white",
    "--tw-prose-invert-counters": "gray-400",
    "--tw-prose-invert-bullets": "gray-600",
    "--tw-prose-invert-hr": "gray-700",
    "--tw-prose-invert-quotes": "gray-100",
    "--tw-prose-invert-quote-borders": "gray-700",
    "--tw-prose-invert-captions": "gray-400",
    "--tw-prose-invert-code": "white",
    "--tw-prose-invert-pre-code": "gray-300",
    "--tw-prose-invert-pre-bg": "gray-50",
    "--tw-prose-invert-th-borders": "gray-600",
    "--tw-prose-invert-td-borders": "gray-700"
}
