.p-5 {
    padding: 1.25rem;
}

.m-5 {
    margin: 1.25rem;
}

.bg-slate-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
