{
	"slate": {
		"50": "F8FAFC",
		"100": "F1F5F9",
		"200": "E2E8F0",
		"300": "CBD5E1",
		"400": "94A3B8",
		"500": "64748B",
		"600": "475569",
		"700": "334155",
		"800": "1E293B",
		"900": "0F172A",
	},
	"gray": {
		"50": "F8FAFC",
		"100": "F1F5F9",
		"200": "E2E8F0",
		"300": "CBD5E1",
		"400": "94A3B8",
		"500": "64748B",
		"600": "475569",
		"700": "334155",
		"800": "1E293B",
		"900": "0F172A",
	},
	"zinc": {},
	"neutral": {},
	"stone": {},
	"red": {
		"50": "FEF2F2",
		"100": "FEE2E2",
		"200": "FECACA",
		"300": "FCA5A5",
		"400": "F87171",
		"500": "EF4444",
		"600": "DC2626",
		"700": "B91C1C",
		"800": "991B1B",
		"900": "7F1D1D",
	},
	"orange": {},
	"amber": {},
	"yellow": {},
	"lime": {},
	"green": {},
	"emerald": {},
	"teal": {},
	"cyan": {},
	"sky": {},
	"blue": {},
	"indigo": {},
	"violet": {},
	"purple": {},
	"fuchsia": {},
	"pink": {},
	"rose": {}
}